.videos li {
width: 240px;
list-style: none;
border: 1px solid #444;
margin: 20px;
float: left;
background-color: black;
}

.videos p{
	text-align: center;
	margin: 0;
}

#fancybox-wrap{
	top: 25% !important;
}

.contenedor.videos{
	overflow: hidden;	
}

.pagination.pagination-centered {
	overflow: hidden;
	height: 55px;
}


.container .pagination ul > li > a {
	background-color: #1b1b1b;
	border: 1px solid;
}
.container .pagination ul > li.disabled > a,.container .pagination ul > li.disabled > a:hover {
	cursor:default;
	background-color: black;
}
.container .pagination ul > li.active > a {
	background-color: white;
	color: black;
}
.container .pagination ul > li > a:hover{

}
