.videos li {
width: 240px;
list-style: none;
border: 1px solid;
margin: 20px;
float: left;
background-color: black;
}

.videos p{
	text-align: center;
	margin: 0;
}

#fancybox-wrap{
	top: 25% !important;
}
